DATABASE_URL=SOME_DATABASE_URL
CREDENTIAL_FIREBASE=SOME_CREDENTIAL_FIREBASE
USER_SENSOR_REF=SOME_USER_SENSOR_REF
USER_PERSONAL_REF=SOME_USER_PERSONAL_REF
ACCESS_TOKEN_EXPIRE_MINUTES=SOME_ACCESS_TOKEN_EXPIRE_MINUTES
REFRESH_TOKEN_EXPIRE_DAYS=SOME_REFRESH_TOKEN_EXPIRE_DAYS
JWT_SECRET_KEY=SOME_JWT_SECRET_KEY
JWT_ALGORITHM=SOME_JWT_ALGORITHM